<td nowrap>{{customer.customerId}}</td>
<td nowrap>
  <a mz-tooltip [tooltip]="'View customer'" [position]="'top'" [routerLink]="['/customers', customer.customerId]">{{customer.companyName}}</a>
</td>
<td nowrap>{{customer.address}}</td>
<td nowrap>{{customer.city}}</td>
<td nowrap>{{customer.region}}</td>
<td nowrap>{{customer.postalCode}}</td>
<td nowrap>{{customer.country}}</td>
