<td nowrap>{{this.product.productId}}</td>
<td nowrap>
  <a mz-tooltip [tooltip]="'View product'" [position]="'top'" [routerLink]="['/products', this.product.productId]">{{this.product.productName}}</a>
  <ng-container *ngIf="this.showWarning()">
    <br />
    <small>This product needs attention!</small>
  </ng-container>
</td>
<td nowrap *ngIf="!this.route.snapshot.routeConfig.path.includes('suppliers')"><a mz-tooltip [tooltip]="'View supplier'" [position]="'top'" [routerLink]="['/suppliers', this.product.supplier.supplierId]">{{this.product.supplier.companyName}}</a></td>
<td nowrap *ngIf="!this.route.snapshot.routeConfig.path.includes('categories')"><a mz-tooltip [tooltip]="'View category'" [position]="'top'" [routerLink]="['/categories', this.product.category.categoryId]">{{this.product.category.categoryName}}</a></td>
<td nowrap>${{this.product.unitPrice.toFixed(2)}}</td>
<td nowrap [textContent]="this.product.discontinued === true ? 'Yes' : 'No'"></td>
