<td nowrap><a mz-tooltip [routerLink]="['/orders', order.orderId]" [tooltip]="'View order'" [position]="'top'">{{order.orderId}}</a></td>
<td nowrap>{{order.orderDate}}</td>
<td nowrap *ngIf="!this.route.snapshot.routeConfig.path.includes('employees')"><a mz-tooltip [routerLink]="['/employees', order.employee.employeeId]" [tooltip]="'View employee'" [position]="'top'">{{order.employee.fullName}}</a></td>
<td nowrap *ngIf="!this.route.snapshot.routeConfig.path.includes('customers')"><a mz-tooltip [routerLink]="['/customers', order.customer.customerId]" [tooltip]="'View customer'" [position]="'top'">{{order.customer.companyName}}</a></td>
<td nowrap *ngIf="!this.route.snapshot.routeConfig.path.includes('shippers')"><a mz-tooltip [routerLink]="['/shippers', order.shipper.shipperId]" [tooltip]="'View shipper'" [position]="'top'">{{order.shipper.companyName}}</a></td>
<td nowrap>${{order.freight.toFixed(2)}}</td>
