<!--
<form #form="ngForm">
  <div class="row">
    <div class="col s12 m4">
      <mz-input-container>
        <input [label]="'Customer ID'" mz-input id="customerId" name="customerId" [(ngModel)]="this.customer.customerId" type="text" disabled />
      </mz-input-container>
    </div>
    <div class="col s12 m8">
      <mz-input-container>
        <input [label]="'Company Name'" mz-input id="companyName" name="companyName" [(ngModel)]="this.customer.companyName" type="text" />
      </mz-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input [label]="'Address'" mz-input id="address" name="address" [(ngModel)]="this.customer.address" type="text" />
      </mz-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col s6 m3">
      <mz-input-container>
        <input [label]="'City'" mz-input id="city" name="city" [(ngModel)]="this.customer.city" type="text" />
      </mz-input-container>
    </div>
    <div class="col s6 m3">
      <mz-input-container>
        <input [label]="'Region'" mz-input id="region" name="region" [(ngModel)]="this.customer.region" type="text" />
      </mz-input-container>
    </div>
    <div class="col s6 m3">
      <mz-input-container>
        <input [label]="'Postal Code'" mz-input id="postalCode" name="postalCode" [(ngModel)]="this.customer.postalCode" type="text" />
      </mz-input-container>
    </div>
    <div class="col s6 m3">
      <mz-input-container>
        <input [label]="'Country'" mz-input id="country" name="country" [(ngModel)]="this.customer.country" type="text" />
      </mz-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <mz-input-container>
        <input [label]="'Phone'" mz-input id="phone" name="phone" [(ngModel)]="this.customer.phone" type="text" />
      </mz-input-container>
    </div>
    <div class="col s6">
      <mz-input-container>
        <input [label]="'Fax'" mz-input id="fax" name="fax" [(ngModel)]="this.customer.fax" type="text" />
      </mz-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <mz-input-container>
        <input [label]="'Contact Name'" mz-input id="contactName" name="contactName" [(ngModel)]="this.customer.contactName" type="text" />
      </mz-input-container>
    </div>
    <div class="col s12 m6">
      <mz-input-container>
        <input [label]="'Contact Title'" mz-input id="contactTitle" name="contactTitle" [(ngModel)]="this.customer.contactTitle" type="text" />
      </mz-input-container>
    </div>
  </div>
  <div class="modal-footer">
    <button #resetButton class="grey white-text" mz-button [flat]="true">Reset</button>
    <button class="green darken-3 white-text" mz-button [flat]="true" [disabled]="!form.dirty">Save changes</button>
  </div>
</form>
-->
