<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._categories_loaded" [item]="'Categories'"></app-loading>


  <div class="row">
    <div *ngFor="let category of this._categories" class="col s12 m4">
      <div class="card" style="max-width:300px;display:block; margin:auto;">
        <div class="card-image">
          <img [src]="category.picture" style="height:200px;">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p class="truncate" [textContent]="category.description"></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <!--
    <app-list-grid *ngIf="this._categories_loaded" [data]="this._categories" [name]="'Categories'"
                   [headers]="['Category ID', 'Category Name', 'Description']"></app-list-grid>
  -->
</div>
