<app-error *ngIf="this._customer_error || this._orders_error"></app-error>
<div *ngIf="!this._customer_error && !this._orders_error">
  <app-loading *ngIf="!this._customer_loaded || !this._orders_loaded" [item]="'Customer Details'"></app-loading>
  <div *ngIf="this._customer_loaded && this._orders_loaded">
    <h3>Customer Details</h3>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Edit Customer</span>
          <app-customer-form [customer]="this._customer"></app-customer-form>
        </div>
      </div>
    </div>
    <hr />
    <app-list-grid [name]="'Orders'" [data]="this._orders"
                   [headers]="['Order ID', 'Order Date', 'Sales Person', 'Shipper', 'Freight Cost']"></app-list-grid>
  </div>
</div>
