<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._suppliers_loaded" [item]="'Suppliers'"></app-loading>
  <app-list-grid *ngIf="this._suppliers_loaded" [name]="'Suppliers'" [data]="this._suppliers"
                 [headers]="['Supplier ID', 'Company Name', 'Address', 'City', 'Region', 'PostalCode', 'Country']"></app-list-grid>
</div>
