@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

#navbar-column {
  padding-left: 0;
  padding-right: 0;
}

.body-content {
  padding-top: 25px;
  height: 100vh;
  overflow-y: scroll;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

table {
  margin-left: 50px;
}
