<td nowrap>{{this.shipper.shipperId}}</td>
<td nowrap><a mz-tooltip [tooltip]="'View shipper'" [position]="'top'" [routerLink]="['/shippers', this.shipper.shipperId]">{{this.shipper.companyName}}</a></td>
<td nowrap>{{this.shipper.phone}}</td>
