<td nowrap>{{employee.employeeId}}</td>
<td norwap><a mz-tooltip [tooltip]="'View employee'" [position]="'top'" [routerLink]="['/employees', employee.employeeId]">{{employee.fullName}}</a></td>
<td nowrap><a *ngIf="employee.supervisor.employeeId !== -1" mz-tooltip [tooltip]="'View supervisor'" [position]="'top'" [routerLink]="['/employees', employee.supervisor.employeeId]">{{employee.supervisor.fullName}}</a><span *ngIf="employee.supervisor.employeeId === -1">-</span></td>
