<td nowrap>{{supplier.supplierId}}</td>
<td nowrap><a mz-tooltip [tooltip]="'View supplier'" [position]="'top'" [routerLink]="['/suppliers', supplier.supplierId]">{{supplier.companyName}}</a></td>
<td nowrap>{{supplier.address}}</td>
<td nowrap>{{supplier.city}}</td>
<td nowrap>{{supplier.region}}</td>
<td nowrap>{{supplier.postalCode}}</td>
<td nowrap>{{supplier.country}}</td>
