<mz-sidenav #sidenav [id]="'sidenav'" [fixed]="true" [collapseButtonId]="'btn-sidenav-toggle'">
  <ul>
    <mz-sidenav-header>
      <img style="width:276px;display:block;margin:12px;" src="../../assets/images/logo.png" />
    </mz-sidenav-header>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
      <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
        <a [routerLink]='["/"]'><i class="material-icons align-middle">home</i>Home</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/categories']"><i class="material-icons align-middle">library_books</i>Categories</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/customers']"><i class="material-icons align-middle">people</i>Customers</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/products']"><i class="material-icons align-middle">shopping_cart</i>Products</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/suppliers']"><i class="material-icons align-middle">store</i>Suppliers</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/employees']"><i class="material-icons align-middle">assignment_ind</i>Employees</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/orders']"><i class="material-icons align-middle">attach_money</i>Orders</a>
      </li>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/shippers']"><i class="material-icons align-middle">local_shipping</i>Shippers</a>
      </li>
    </mz-sidenav-link>
  </ul>
</mz-sidenav>
<div style="z-index:9999;" class="fixed-action-btn hide-on-large-only">
  <button [float]="true" [large]="true" mz-button id="btn-sidenav-toggle" >
    <i class="large material-icons">menu</i>
  </button>
</div>

