<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._employees_loaded" [item]="'Employees'"></app-loading>
  <app-list-grid *ngIf="this._employees_loaded" [name]="'Employees'" [data]="this._employees"
                 [headers]="['Employee ID', 'Employee Name', 'Supervisor']"></app-list-grid>
</div>
