<app-error *ngIf="this._order_error || this._products_error"></app-error>
<div *ngIf="!this._order_error && !this._products_error">
  <app-loading *ngIf="!this._order_loaded || !this._products_loaded" [item]="'Order Details'"></app-loading>
  <div *ngIf="this._order_loaded && this._products_loaded">
    <div class="container">
      <div class="card">
        <h5 class="card-header"></h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Supplier</h5>
            </div>
            <div class="col">
              <h5>Delivery Address</h5>
            </div>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th>Order Date</th>
                  <th>Shipped Date</th>
                  <th>Required Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{this._order.orderDate}}</td>
                  <td>{{this._order.requiredDate}}</td>
                  <td>{{this._order.shippedDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <app-list-grid [data]="this._products" [name]="'Products'"
                   [object_properties]="['ProductId', 'ProductName', 'OrderDetailsUnitPrice', 'Quantity', 'Discount']"
                   [headers]="['Product ID', 'Product Name', 'Unit Price', 'Quantity', 'Discount']"></app-list-grid>
  </div>

</div>
