<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._product_loaded" [item]="'Product Details'"></app-loading>
  <div *ngIf="this._product_loaded">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Edit Product</span>
          <div class="row">
            <div class="col s3">
              <mz-input-container>
                <input mz-input
                       type="text"
                       id="productId"
                       name="productId"
                       [(ngModel)]="this._product.productId"
                       disabled
                       [label]="'Product ID'" />
              </mz-input-container>
            </div>
            <div class="col s9">
              <mz-input-container>
                <input mz-input
                       type="text"
                       id="productName"
                       name="productName"
                       [(ngModel)]="this._product.productName"
                       [label]="'Product Name'" />
              </mz-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m8">
              <mz-select-container>
                <select [compareWith]="this.compareSuppliers"
                        [(ngModel)]="this._product.supplier"
                        name="supplier"
                        mz-select
                        [label]="'Supplier'"
                        [placeholder]="'Choose a supplier'">
                  <option *ngFor="let supplier of this._suppliers" [ngValue]="supplier" [textContent]="supplier.companyName"></option>
                </select>
              </mz-select-container>
            </div>
            <div class="col s12 m4">
              <mz-select-container>
                <select [compareWith]="this.compareCategories"
                        [(ngModel)]="this._product.category"
                        name="category"
                        mz-select
                        [label]="'Category'"
                        [placeholder]="'Choose a category'">
                  <option *ngFor="let category of this._categories" [ngValue]="category" [textContent]="category.categoryName"></option>
                </select>
              </mz-select-container>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <mz-input-container>
                <input mz-input
                       [label]="'Quantity Per Unit'"
                       name="quantityPerUnit"
                       id="quantityPerUnit"
                       [(ngModel)]="this._product.quantityPerUnit"
                       type="text" />
              </mz-input-container>
            </div>
            <div class="col s12 m3">
              <mz-input-container>
                <input mz-input
                       [label]="'Unit Price'"
                       name="unitPrice"
                       id="unitPrice"
                       [(ngModel)]="this._product.unitPrice"
                       type="number" />
              </mz-input-container>
            </div>
            <div class="col s12 m3">
              <mz-checkbox-container>
                <input mz-checkbox
                       [(ngModel)]="this._product.discontinued"
                       [label]="'Discontinued?'"
                       [filledIn]="true"
                       id="discontinued"
                       name="discontinued"
                       type="checkbox">
              </mz-checkbox-container>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col s4">
        <span>Units in Stock: {{this._product.unitsInStock}}</span>
      </div>
      <div class="col s4">
        <span>Units on Order: {{this._product.unitsOnOrder}}</span>
      </div>
      <div class="col s4">
        <span>Reorder Level: {{this._product.reorderLevel}}</span>
      </div>
    </div>
  </div>
</div>
