<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._shippers_loaded" [item]="'Shippers'"></app-loading>
  <div *ngIf="this._shippers_loaded">
    <app-list-grid [name]="'Shippers'" [data]="this._shippers" 
                   [headers]="['Shipper ID', 'Company Name', 'Phone']"></app-list-grid>
  </div>
</div>
