<app-error *ngIf="this._supplier_error || this._products_error"></app-error>
<div *ngIf="!this._supplier_error && !this._products_error">
  <app-loading *ngIf="!this._supplier_loaded || !this._products_loaded" [item]="'Supplier Details'"></app-loading>
</div>
<div *ngIf="this._supplier_loaded && this._products_loaded">
  <div class="card">
    <h5 class="card-header" [textContent]="this._supplier.CompanyName"></h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <app-list-grid [name]="'Products'" [data]="this._products"
                 [headers]="['Product ID', 'Product Name', 'Category', 'Unit Price', 'Discontinued?']"></app-list-grid>
</div>
