<div *ngIf="this._category_error || this._products_error">
  <app-error></app-error>
</div>
<div *ngIf="!this._category_error && !this._products_error">
  <app-loading *ngIf="!this._category_loaded || !this._products_loaded" [item]="'Category Details'"></app-loading>
  <div *ngIf="this._category_loaded && this._products_loaded">
    <div class="row">
      <div class="col s12 m8">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Category</span>
            <button mz-button [flat]="true" class="grey lighten-3">Delete</button>
            <div class="row valign-wrapper">
              <div class="col s12 m6">
                <form>
                  <mz-input-container>
                    <input id="categoryId" name="categoryId" type="text" [(ngModel)]="this._category.categoryId" mz-input disabled />
                    <label class="active" for="categoryId">Category ID</label>
                  </mz-input-container>
                  <mz-input-container>
                    <input id="categoryName" name="categoryName" type="text" [(ngModel)]="this._category.categoryName" length="15" mz-input />
                    <label class="active" for="categoryName">Category Name</label>
                  </mz-input-container>
                  <mz-textarea-container>
                    <textarea mz-textarea
                              name="description"
                              [label]="'Description'"
                              id="description"
                              [(ngModel)]="this._category.description"
                              length="255"></textarea>
                  </mz-textarea-container>
                  <mz-input-container>
                    <input type="file" id="picture" name="picture" (change)="asdf($event)" />
                    <label class="active" for="picture">Picture</label>
                  </mz-input-container>
                </form>
              </div>
              <div class="col s12 m6">
                <div class="right">
                  <img style="display:block;" width="200" [src]="this._category.picture" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Alerts</span>
          </div>
        </div>
      </div>
    </div>
    <mz-modal #modal [options]="{ complete: this._handleEditCategoryModalClose.bind(this), dismissible: false }">
      <mz-modal-header>
        <h4>Edit Category</h4>
      </mz-modal-header>
      <mz-modal-content>
        <form>
          <mz-input-container>
            <input id="categoryName" name="categoryName" type="text" [(ngModel)]="this._category.categoryName" length="15" mz-input />
            <label class="active" for="categoryName">Category Name</label>
          </mz-input-container>
          <mz-textarea-container>
            <textarea mz-textarea
                      name="description"
                      [label]="'Description'"
                      id="description"
                      [(ngModel)]="this._category.description"
                      length="255"></textarea>
          </mz-textarea-container>
          <mz-input-container>
            <input type="file" id="picture" name="picture" (change)="asdf($event)" />
            <label class="active" for="picture">Picture</label>
          </mz-input-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" class="gray" mz-modal-close [disabled]="this._saving_category">Cancel</button>
        <button mz-button [flat]="true" class="green" (click)="this.saveCategory()" [disabled]="this._saving_category">
          <span *ngIf="!this._saving_category">Save Changes</span>
          <span *ngIf="this._saving_category"><mz-spinner [size]="'small'"></mz-spinner></span>
        </button>
      </mz-modal-footer>
    </mz-modal>
    <!-- Modal -->
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <app-list-grid [data]="this._products" [name]="'Products'"
                   [headers]="['Product ID', 'Product Name', 'Supplier', 'Unit Price', 'Discontinued?']"></app-list-grid>
  </div>
</div>
