<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._customers_loaded" [item]="'Customers'"></app-loading>
  <ng-container *ngIf="this._customers_loaded">
    <button mz-button (click)="openAddCustomerForm()">+ Add Customer</button>
    <mz-modal #addCustomerModal>
      <mz-modal-content>
        <app-customer-form></app-customer-form>
      </mz-modal-content>
    </mz-modal>
    <div class="row">
      <div class="col s6 m4">
        <mz-collection>
          <mz-collection-header><h4>Customers</h4></mz-collection-header>
          <mz-collection-item *ngFor="let customer of this._customers"><a>{{customer.companyName}}</a></mz-collection-item>
        </mz-collection>
      </div>
      <div class="col s6 m8">

      </div>
    </div>
    
    <!--<app-list-grid [data]="this._customers"
                   [name]="'Customers'"
                   [headers]="['Customer ID', 'Company Name', 'Address', 'City', 'Region', 'Postal Code', 'Country']"></app-list-grid>-->
  </ng-container>
</div>
