<h3>List of {{this.name}}</h3>
<mz-pagination (pageChange)="onPageChange($event)"
               [currentPage]="this._current_page"
               [enableFirstAndLastPageButtons]="true"
               [itemsPerPage]="this._items_per_page"
               [totalItems]="this.getNumberOfRows()"
               class="center-align">
</mz-pagination>
<table class="highlight responsive-table">
  <thead>
    <tr>
      <th nowrap scope="col" *ngFor="let header of this.headers; let i = index">
        <button mz-button [flat]="true" style="padding:0px 0px 0px 0px" (click)="this.sortColumn($event, 'asc')">{{header}} <i *ngIf="this._header_sort_direction[index]==='desc'" class="material-icons">arrow_downward</i></button>
      </th>
    </tr>
  </thead>
  <tbody [ngSwitch]="this._data_type">
    <ng-container *ngSwitchCase="'Category'">
      <tr app-list-grid-category *ngFor="let category of this._displayed_rows" [category]="category"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Customer'">
      <tr app-list-grid-customer *ngFor="let customer of this._displayed_rows" [customer]="customer"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Product'">
      <tr app-list-grid-product *ngFor="let product of this._displayed_rows" [product]="product"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Supplier'">
      <tr app-list-grid-supplier *ngFor="let supplier of this._displayed_rows" [supplier]="supplier"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Employee'">
      <tr app-list-grid-employee *ngFor="let employee of this._displayed_rows" [employee]="employee"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Order'">
      <tr app-list-grid-order *ngFor="let order of this._displayed_rows" [order]="order"></tr>
    </ng-container>
    <ng-container *ngSwitchCase="'Shipper'">
      <tr app-list-grid-shipper *ngFor="let shipper of this._displayed_rows" [shipper]="shipper"></tr>
    </ng-container>
  </tbody>
</table>
<div class="row">
  <div class="col s2">
    <mz-select-container>
      <select [(ngModel)]="this.itemsPerPage"
              name="itemsPerPage"
              mz-select
              [label]="'Items per Page'">
        <option [ngValue]="10" [textContent]="'10'"></option>
        <option [ngValue]="25" [textContent]="'25'"></option>
        <option [ngValue]="50" [textContent]="'50'"></option>
        <option [ngValue]="100" [textContent]="'100'"></option>
      </select>
    </mz-select-container>
  </div>
</div>
