<app-error *ngIf="this._employee_error || this._orders_error"></app-error>
<div *ngIf="!this._employee_error && !this._orders_error">
  <app-loading *ngIf="!this._employee_loaded || !this._orders_loaded" [item]="'Employee Details'"></app-loading>
  <div *ngIf="this._employee_loaded && this._orders_loaded">
    <p>
      employee-details works!
    </p>
    <app-list-grid [name]="'Orders'" [data]="this._orders"
                   [headers]="['Order ID', 'Order Date', 'Customer', 'Shipper', 'Freight Cost']"></app-list-grid>
  </div>
</div>
