<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._orders_loaded" [item]="'Orders'"></app-loading>
  <app-list-grid *ngIf="this._orders_loaded" [name]="'Orders'" [data]="this._orders" [route]="this._component"
                 [object_properties]="['OrderId', 'CompanyName', 'FullName', 'OrderDate', 'RequiredDate', 'ShippedDate', 'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity', 'ShipRegion', 'ShipPostalCode', 'ShipCountry']"
                 [headers]="['Order ID', 'Order Date', 'Sales Person', 'Customer', 'Shipper', 'Freight']"></app-list-grid>
</div>
