<app-error *ngIf="this._error"></app-error>
<div *ngIf="!this._error">
  <app-loading *ngIf="!this._products_loaded" [item]="'Products'"></app-loading>
  <app-list-grid *ngIf="this._products_loaded" [name]="'Products'" [data]="this._products" 
                 [headers]="['Product ID', 'Product Name', 'Supplier', 'Cateogry', 'Unit Price', 'Discontinued?']"></app-list-grid>
</div>
