<td nowrap [textContent]="this.category.categoryId"></td>
<td nowrap>
  <a mz-tooltip [tooltip]="'View category'" [position]="'top'" [routerLink]='["/categories", this.category.categoryId]'>{{this.category.categoryName}}</a>
</td>
<td nowrap [textContent]="this.category.description"></td>
